In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')
plt.rc(
    "figure",
    figsize = (12,5),
    autolayout = True
)
plt.rc(
    "axes",
    labelsize=16,
    labelweight='bold',
    titlesize=18,
    titleweight = 'bold',
)

plot_params = dict(
            color = '0.75',
            markeredgecolor = '0.25',
            markerfacecolor = '0.25',
            style = '.-',
            legend = True
)

In [2]:
df = pd.read_csv('Downloads/train_v2.csv', index_col = 'id')

df.head()

,f1,f2,f3,f4,f5,f6,f7,f8,f9,f10,...,f770,f771,f772,f773,f774,f775,f776,f777,f778,loss
id,,,,,,,,,,,,,,,,,,,,,
1,126,10,0.686842,1100,3,13699,7201.0,4949.0,126.75,126.03,...,5,2.14,-1.54,1.18,0.1833,0.7873,1,0,5,0
2,121,10,0.782776,1100,3,84645,240.0,1625.0,123.52,121.35,...,6,0.54,-0.24,0.13,0.1926,-0.6787,1,0,5,0
3,126,10,0.500080,1100,3,83607,1800.0,1527.0,127.76,126.49,...,13,2.89,-1.73,1.04,0.2521,0.7258,1,0,5,0
4,134,10,0.439874,1100,3,82642,7542.0,1730.0,132.94,133.58,...,4,1.29,-0.89,0.66,0.2498,0.7119,1,0,5,0
5,109,9,0.502749,2900,4,79124,89.0,491.0,122.72,112.77,...,26,6.11,-3.82,2.51,0.2282,-0.5399,0,0,5,0

In [3]:
df.shape

(105471, 770)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105471 entries, 1 to 105471
Columns: 770 entries, f1 to loss
dtypes: float64(653), int64(98), object(19)
memory usage: 620.4+ MB

In [5]:
df.isna().sum().T

f1         0
f2         0
f3         0
f4         0
f5         0
        ...
f775    1525
f776       0
f777       0
f778       0
loss       0
Length: 770, dtype: int64

In [6]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
f1,105471.0,134.603171,14.725467,103.000000,124.000000,129.000000,148.000000,176.000000
f2,105471.0,8.246883,1.691535,1.000000,8.000000,9.000000,9.000000,11.000000
f3,105471.0,0.499066,0.288752,0.000006,0.248950,0.498267,0.749494,0.999994
f4,105471.0,2678.488874,1401.010943,1100.000000,1500.000000,2200.000000,3700.000000,7900.000000
f5,105471.0,7.354533,5.151112,1.000000,4.000000,4.000000,10.000000,17.000000
...,...,...,...,...,...,...,...,...
f775,103946.0,0.014797,1.039439,-18.439600,-0.704275,0.375400,0.737100,11.092000
f776,105471.0,0.310246,0.462597,0.000000,0.000000,0.000000,1.000000,1.000000
f777,105471.0,0.322847,0.467567,0.000000,0.000000,0.000000,1.000000,1.000000
f778,105471.0,175.951589,298.294043,2.000000,19.000000,40.000000,104.000000,1212.000000
loss,105471.0,0.799585,4.321120,0.000000,0.000000,0.000000,0.000000,100.000000

In [7]:
df[df['f2'] > df['f2'].mean() + 3*df['f2'].std()]

Empty DataFrame
Columns: [f1, f2, f3, f4, f5, f6, f7, f8, f9, f10, f13, f14, f15, f16, f17, f18, f19, f20, f21, f22, f23, f24, f25, f26, f27, f28, f29, f30, f31, f32, f33, f34, f35, f36, f37, f38, f39, f40, f41, f42, f43, f44, f45, f46, f47, f48, f49, f50, f51, f52, f53, f54, f55, f56, f57, f58, f59, f60, f61, f62, f63, f64, f65, f66, f67, f68, f69, f70, f71, f72, f73, f74, f75, f76, f77, f78, f79, f80, f81, f82, f83, f84, f85, f86, f87, f88, f89, f90, f91, f92, f93, f94, f95, f96, f97, f98, f99, f100, f101, f102, ...]
Index: []

[0 rows x 770 columns]

In [8]:
df.isna().sum()

f1         0
f2         0
f3         0
f4         0
f5         0
        ...
f775    1525
f776       0
f777       0
f778       0
loss       0
Length: 770, dtype: int64

In [9]:
df = df.dropna()
df.isna().sum()

f1      0
f2      0
f3      0
f4      0
f5      0
       ..
f775    0
f776    0
f777    0
f778    0
loss    0
Length: 770, dtype: int64

In [10]:
for label, content in df.items():
    if pd.api.types.is_string_dtype(content):
        df[label] = df[label].astype('category').cat.codes

In [11]:
X = df.iloc[:, :-1]
y = df.iloc[:, -1]

In [12]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [14]:
reg = LogisticRegression()
reg.fit(X_train, y_train)

LogisticRegression()

In [15]:
reg.score(X_test, y_test)

0.9003658067000385

In [16]:
reg.score(X_train, y_train)

0.8979591836734694

In [17]:
reg.intercept_

array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
       0., 0., 0., 0., 0., 0.])

In [18]:
reg.coef_

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [20]:
y_pred = reg.predict(X_test)